{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Welcome on Stackoverflou</h1>

    {{ include('home/_form.html.twig')}}

    
</div>
{% endblock %}
