{% extends 'base.html.twig' %}

{% block title %}Stackoverflou{% endblock %}

{% block body %}


<div class="text-center mt-3">
    <h1 class="titre"><u>Welcome on Stackoverflou</u></h1>

    <p class ="mt-5">A website built making using Symfony and an adminer Database</p>

<a href="{{ path('app_subscribe') }}" role="button" class="btn btn-primary mt-5 px-5">Inscrivez-vous maintenant</a>
<a href="{{ path('app_login') }}" role="button" class="btn btn-warning mt-5 px-5">Se connecter</a>
    
</div>
{% endblock %}
